In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
import math as math
from pylab import rcParams
import csv
import zipfile
import sys
assert 'zipfile'in sys.modules
assert 'pandas'in sys.modules and pd
assert 'numpy'in sys.modules and np
assert 'matplotlib'in sys.modules and plt
assert 'seaborn'in sys.modules and sns
import io 
from pandas.io.json import json_normalize
import json
import re
import warnings
warnings.filterwarnings('ignore')

In [3]:
result = pd.read_csv('dinasourdata.csv')
result.head()

,Unnamed: 0,occurrence_no,record_type,collection_no,taxon_name,taxon_rank,taxon_no,matched_name,matched_rank,matched_no,...,genus,genus_no,family,family_no,order,order_no,species_reso,genus_reso,subgenus_name,subgenus_reso
0,1:1,41524,occurrence,3257,Aves indet.,class,36616,Aves,class,36616,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1:2,41580,occurrence,3256,Aves indet.,class,36616,Aves,class,36616,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1:3,139242,occurrence,11890,Gorgosaurus sternbergi n. sp.,species,63900,Gorgosaurus libratus,species,53194,...,Gorgosaurus,53193.0,Tyrannosauridae,38606.0,Avetheropoda,55483.0,n. sp.,NaN,NaN,NaN
3,1:4,139249,occurrence,11892,Hadrosauridae indet.,family,38755,Hadrosauridae,family,38755,...,NaN,NaN,Hadrosauridae,38755.0,NaN,NaN,NaN,NaN,NaN,NaN
4,1:5,139250,occurrence,11893,Gorgosaurus libratus,species,53194,Gorgosaurus libratus,species,53194,...,Gorgosaurus,53193.0,Tyrannosauridae,38606.0,Avetheropoda,55483.0,NaN,NaN,NaN,NaN

In [4]:
result = result.drop(result.columns[0], axis = 1)
result.head()

,occurrence_no,record_type,collection_no,taxon_name,taxon_rank,taxon_no,matched_name,matched_rank,matched_no,early_interval,...,genus,genus_no,family,family_no,order,order_no,species_reso,genus_reso,subgenus_name,subgenus_reso
0,41524,occurrence,3257,Aves indet.,class,36616,Aves,class,36616,Early Eocene,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,41580,occurrence,3256,Aves indet.,class,36616,Aves,class,36616,Early Eocene,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,139242,occurrence,11890,Gorgosaurus sternbergi n. sp.,species,63900,Gorgosaurus libratus,species,53194,Late Campanian,...,Gorgosaurus,53193.0,Tyrannosauridae,38606.0,Avetheropoda,55483.0,n. sp.,NaN,NaN,NaN
3,139249,occurrence,11892,Hadrosauridae indet.,family,38755,Hadrosauridae,family,38755,Late Campanian,...,NaN,NaN,Hadrosauridae,38755.0,NaN,NaN,NaN,NaN,NaN,NaN
4,139250,occurrence,11893,Gorgosaurus libratus,species,53194,Gorgosaurus libratus,species,53194,Late Campanian,...,Gorgosaurus,53193.0,Tyrannosauridae,38606.0,Avetheropoda,55483.0,NaN,NaN,NaN,NaN

In [5]:
result.describe()

,occurrence_no,collection_no,taxon_no,matched_no,early_age,late_age,lng,lat,class_no,phylum_no,reid_no,genus_no,family_no,order_no
count,1.786500e+04,17865.000000,17865.000000,17865.000000,17865.000000,17865.000000,17865.000000,17865.000000,17865.000000,17865.0,1406.000000,13409.000000,16598.000000,12181.000000
mean,9.851040e+05,106227.200224,164640.174083,166944.840750,42.677121,37.715399,-29.831491,23.322343,37336.463700,33815.0,25890.906117,120651.100082,56985.650319,63831.680732
std,3.911813e+05,65841.433103,138485.750770,139986.596207,51.917542,47.434026,95.844912,30.247962,959.568839,0.0,7456.475949,115362.151921,61738.764594,73875.820466
min,4.152400e+04,3256.000000,36610.000000,36610.000000,0.011700,0.000000,-179.154999,-84.333336,36616.000000,33815.0,10065.000000,34625.000000,38539.000000,36617.000000
25%,5.901610e+05,49234.000000,39581.000000,39537.000000,0.126000,0.011700,-108.256111,11.209000,36616.000000,33815.0,18816.500000,39409.000000,38803.000000,39306.000000
50%,1.083781e+06,89277.000000,83491.000000,84915.000000,5.333000,3.600000,-74.804726,36.060555,36616.000000,33815.0,28256.500000,65584.000000,39445.000000,39441.000000
75%,1.397731e+06,182103.000000,365952.000000,365986.000000,83.500000,70.600000,28.316668,43.491669,38505.000000,33815.0,32642.750000,143778.000000,39658.000000,55483.000000
max,1.421373e+06,197289.000000,378479.000000,378479.000000,279.300000,272.300000,178.677002,89.039169,38712.000000,33815.0,35268.000000,378478.000000,373619.000000,373480.000000

In [6]:
list(result)

['occurrence_no',
 'record_type',
 'collection_no',
 'taxon_name',
 'taxon_rank',
 'taxon_no',
 'matched_name',
 'matched_rank',
 'matched_no',
 'early_interval',
 'late_interval',
 'early_age',
 'late_age',
 'reference_no',
 'lng',
 'lat',
 'class',
 'class_no',
 'phylum',
 'phylum_no',
 'genus_name',
 'species_name',
 'reid_no',
 'genus',
 'genus_no',
 'family',
 'family_no',
 'order',
 'order_no',
 'species_reso',
 'genus_reso',
 'subgenus_name',
 'subgenus_reso']

In [18]:
#new = result[['occurrence_no','t'axon_name','early_age','late_age']]

In [16]:
Tyrannosauridae = pd.read_csv('Tyrannosauridae.csv')
Tyrannosauridae = Tyrannosauridae.drop(Tyrannosauridae.columns[0], axis = 1)
Tyrannosauridae.head()

,occurrence_no,record_type,reid_no,collection_no,taxon_name,taxon_rank,taxon_no,matched_name,matched_rank,matched_no,...,order_no,class,class_no,phylum,phylum_no,genus_name,species_name,species_reso,genus_reso,late_interval
0,139242,occurrence,24752.0,11890,Gorgosaurus sternbergi n. sp.,species,63900,Gorgosaurus libratus,species,53194,...,55483,Saurischia,38505,Chordata,33815,Gorgosaurus,sternbergi,n. sp.,NaN,NaN
1,139250,occurrence,23301.0,11893,Gorgosaurus libratus,species,53194,Gorgosaurus libratus,species,53194,...,55483,Saurischia,38505,Chordata,33815,Gorgosaurus,libratus,NaN,NaN,NaN
2,139252,occurrence,23302.0,11895,Gorgosaurus libratus,species,53194,Gorgosaurus libratus,species,53194,...,55483,Saurischia,38505,Chordata,33815,Gorgosaurus,libratus,NaN,NaN,NaN
3,139253,occurrence,18699.0,11896,Gorgosaurus libratus,species,53194,Gorgosaurus libratus,species,53194,...,55483,Saurischia,38505,Chordata,33815,Gorgosaurus,libratus,NaN,NaN,NaN
4,139254,occurrence,13634.0,11897,Gorgosaurus n. gen. libratus n. sp.,species,53194,Gorgosaurus libratus,species,53194,...,55483,Saurischia,38505,Chordata,33815,Gorgosaurus,libratus,n. sp.,n. gen.,NaN

In [17]:
Dromaeosauridae = pd.read_csv('Dromaeosauridae.csv')
Dromaeosauridae = Dromaeosauridae.drop(Dromaeosauridae.columns[0], axis = 1)
Dromaeosauridae.head()

,occurrence_no,record_type,collection_no,taxon_name,taxon_rank,taxon_no,matched_name,matched_rank,matched_no,early_interval,...,phylum,phylum_no,genus_name,species_name,genus,genus_no,reid_no,genus_reso,late_interval,species_reso
0,144305,occurrence,10760,Dromaeosauridae indet.,family,38561,Dromaeosauridae,family,38561,Late Maastrichtian,...,Chordata,33815,Dromaeosauridae,indet.,NaN,NaN,NaN,NaN,NaN,NaN
1,220011,occurrence,22657,Velociraptor sp.,genus,38564,Velociraptor,genus,38564,Late Campanian,...,Chordata,33815,Velociraptor,sp.,Velociraptor,38564.0,NaN,NaN,NaN,NaN
2,220090,occurrence,22685,Velociraptor mongoliensis,species,54554,Velociraptor mongoliensis,species,54554,Late Campanian,...,Chordata,33815,Velociraptor,mongoliensis,Velociraptor,38564.0,NaN,NaN,NaN,NaN
3,220191,occurrence,22713,Dromaeosauridae cf. indet.,family,38561,Dromaeosauridae,family,38561,Aptian,...,Chordata,33815,Dromaeosauridae,indet.,NaN,NaN,13289.0,cf.,NaN,NaN
4,248041,occurrence,14462,Dromaeosaurus albertensis,species,54550,Dromaeosaurus albertensis,species,54550,Middle Campanian,...,Chordata,33815,Dromaeosaurus,albertensis,Dromaeosaurus,38566.0,13131.0,NaN,Late Campanian,NaN

In [28]:
Dromaeosauridae_time = Dromaeosauridae[['early_interval','late_interval','early_age','late_age','reference_no','lng']]

In [21]:
Tyrannosauridae_time = Tyrannosauridae[['early_interval','late_interval','early_age','late_age','reference_no','lng']]

In [29]:
Dromaeosauridae_time

,early_interval,late_interval,early_age,late_age,reference_no,lng
0,Late Maastrichtian,NaN,70.60,66.00,4002;4002,21.049999
1,Late Campanian,NaN,83.50,70.60,5721;5721,-111.524582
2,Late Campanian,NaN,83.50,70.60,63431;63431,103.333336
3,Aptian,NaN,125.00,113.00,7600;7600,-98.476303
4,Middle Campanian,Late Campanian,83.50,70.60,13591;13591,-109.297203
5,Middle Campanian,Late Campanian,83.50,70.60,13591;13591,-109.297203
6,Middle Campanian,Late Campanian,83.50,70.60,13591;13591,-109.297203
7,Middle Campanian,Late Campanian,83.50,70.60,13752;13752,-109.900002
8,Middle Campanian,Late Campanian,83.50,70.60,13752;13752,-109.900002
9,Middle Campanian,Late Campanian,83.50,70.60,13752;13752,-109.900002
10,Early Campanian,NaN,83.50,70.60,4308;4308,-107.199997
11,Middle Campanian,NaN,83.50,70.60,17718;17718,-112.966667
12,Late Maastrichtian,NaN,70.60,66.00,7389;7389,-104.483330
13,Late Maastrichtian,NaN,70.60,66.00,7389;7389,-104.483330
14,Late Maastrichtian,NaN,70.60,66.00,7389;7389,-104.483330
15,Barremian,NaN,129.40,125.00,7471;7471,-109.567902
16,Early Aptian,NaN,125.45,122.46,14740;14740,-109.691666
17,Judithian,NaN,83.50,70.60,11752;11752,-103.516670
18,Judithian,NaN,83.50,70.60,11752;11752,-103.516670
19,Aptian,NaN,125.00,113.00,7600;7600,-97.907219
20,Lancian,NaN,70.60,66.00,717;717,-104.491669
21,Late Maastrichtian,NaN,70.60,66.00,7650;7650,22.883333
22,Late Maastrichtian,NaN,70.60,66.00,7650;7650,22.883333
23,Late Campanian,NaN,83.50,70.60,7840;7840,6.106141
24,Late Campanian,Early Maastrichtian,83.50,66.00,7840;7840,5.565626
25,Late Campanian,NaN,83.50,70.60,9559;9559,-2.634513
26,Middle Berriasian,NaN,145.00,140.20,8336;8336,-1.966667
27,Middle Berriasian,NaN,145.00,140.20,8338;8338,-1.966667
28,Valanginian,NaN,139.80,132.90,13526;13526,136.633331
29,Late Campanian,NaN,83.50,70.60,9017;9017,-110.470001
...,...,...,...,...,...,...
711,Late Campanian,NaN,83.50,70.60,56091;56091,-2.634513
712,Santonian,NaN,86.30,83.60,56214;56214,-85.000763
713,Late Maastrichtian,NaN,70.60,66.00,38063;38063,0.950376
714,Late Campanian,NaN,83.50,70.60,56875;56875,5.612007
715,Late Maastrichtian,NaN,70.60,66.00,56882;56882,-103.207550
716,Middle Campanian,Late Campanian,83.50,70.60,57254;57254,112.114113
717,Kimmeridgian,NaN,157.30,152.10,13281;13281,-108.826668
718,Albian,NaN,113.00,100.50,58656;58656,-108.729599
719,Campanian,NaN,83.60,72.10,59136;59136,99.599998
720,Middle Cenomanian,Early Turonian,99.60,89.30,59904;59904,-68.617775
721,Early Campanian,NaN,83.50,70.60,60112;60112,-111.000000
722,Campanian,NaN,83.60,72.10,10138;10138,101.125427
723,Late Albian,NaN,105.30,99.60,60389;60389,-114.551567
724,Aptian,NaN,125.00,113.00,52405;52405,119.683296
725,Late Campanian,Early Maastrichtian,83.50,66.00,60638;60638,-2.021356
726,Maastrichtian,NaN,72.10,66.00,15004;15004,99.599998
727,Maastrichtian,NaN,72.10,66.00,61095;61095,-105.080002
728,Maastrichtian,NaN,72.10,66.00,61095;61095,-105.080002
729,Maastrichtian,NaN,72.10,66.00,61095;61095,-105.080002
730,Berriasian,Hauterivian,145.00,129.40,62874;62874,-38.316666
731,Early Barremian,NaN,130.00,125.45,63556;63556,-9.222222
732,Campanian,NaN,83.60,72.10,64073;64073,100.901947
733,Late Maastrichtian,NaN,70.60,66.00,65784;65784,23.092192
734,Barremian,Aptian,129.40,113.00,66074;66074,119.683296
735,Lancian,NaN,70.60,66.00,66164;66164,-103.099998
736,Early Maastrichtian,NaN,70.60,66.00,66250;66250,-108.066399
737,Maastrichtian,NaN,72.10,66.00,66250;66250,-108.101944
738,Judithian,NaN,83.50,70.60,66642;66642,-74.300003
739,Late Aptian,NaN,122.46,112.03,66681;66681,-76.868477
740,Late Aptian,NaN,122.46,112.03,66681;66681,-76.868477

In [23]:
Tyrannosauridae_time

,early_interval,late_interval,early_age,late_age,reference_no,lng
0,Late Campanian,NaN,83.5,70.6,13165;13165,-111.528732
1,Late Campanian,NaN,83.5,70.6,4205;4205,-111.549347
2,Late Campanian,NaN,83.5,70.6,4205;4205,-111.564636
3,Late Campanian,NaN,83.5,70.6,4205;4205,-111.525337
4,Late Campanian,NaN,83.5,70.6,17547;17547,-111.601021
5,Maastrichtian,NaN,72.1,66.0,9259;9259,-112.981903
6,Early Maastrichtian,NaN,70.6,66.0,4205;4205,-112.981903
7,Late Campanian,NaN,83.5,70.6,12347;12347,-112.818901
8,Late Campanian,NaN,83.5,70.6,9259;9259,-112.842300
9,Late Campanian,NaN,83.5,70.6,4205;4205,-112.702202
10,Late Campanian,NaN,83.5,70.6,4205;4205,-110.681999
11,Middle Campanian,NaN,83.5,70.6,4205;4205,-111.485008
12,Early Maastrichtian,NaN,70.6,66.0,51906;51906,-112.934799
13,Maastrichtian,NaN,72.1,66.0,4218;4218,-113.028900
14,Maastrichtian,NaN,72.1,66.0,4205;4205,-113.233330
15,Maastrichtian,NaN,72.1,66.0,4373;4373,99.599998
16,Late Campanian,NaN,83.5,70.6,5922;5922,-111.525871
17,Late Campanian,NaN,83.5,70.6,5721;5721,-111.524582
18,Late Campanian,NaN,83.5,70.6,5924;5924,-111.484657
19,Late Campanian,NaN,83.5,70.6,5924;5924,-111.484657
20,Late Santonian,Early Campanian,85.8,70.6,62031;62031,-113.750000
21,Lancian,NaN,70.6,66.0,1987;1987,-107.383331
22,Late Campanian,NaN,83.5,70.6,6989;6989,-110.766670
23,Middle Campanian,NaN,83.5,70.6,7156;7156,-112.966667
24,Late Maastrichtian,NaN,70.6,66.0,7389;7389,-104.483330
25,Late Maastrichtian,NaN,70.6,66.0,7389;7389,-104.483330
26,Lancian,NaN,70.6,66.0,774;774,-104.366669
27,Judithian,NaN,83.5,70.6,2988;2988,-103.516670
28,Lancian,NaN,70.6,66.0,717;717,-104.491669
29,Valanginian,NaN,139.8,132.9,13526;13526,136.633331
...,...,...,...,...,...,...
325,Lancian,NaN,70.6,66.0,59148;59148,-107.192223
326,Late Campanian,NaN,83.5,70.6,59354;59354,-108.797943
327,Maastrichtian,NaN,72.1,66.0,59136;59136,99.833054
328,Early Campanian,Middle Campanian,83.5,70.6,59512;59512,-111.900002
329,Campanian,Maastrichtian,83.6,66.0,59835;59835,101.045555
330,Campanian,Maastrichtian,83.6,66.0,9900;9900,101.052498
331,Campanian,Maastrichtian,83.6,66.0,59835;59835,101.053612
332,Campanian,Maastrichtian,83.6,66.0,10453;10453,101.029724
333,Campanian,Maastrichtian,83.6,66.0,10453;10453,101.041389
334,Campanian,Maastrichtian,83.6,66.0,10453;10453,101.032219
335,Campanian,Maastrichtian,83.6,66.0,10453;10453,101.031387
336,Campanian,Maastrichtian,83.6,66.0,9900;9900,100.374809
337,Campanian,Maastrichtian,83.6,66.0,59835;59835,100.455833
338,Campanian,Maastrichtian,83.6,66.0,59835;59835,100.452225
339,Early Campanian,NaN,83.5,70.6,60112;60112,-111.000000
340,Campanian,Maastrichtian,83.6,66.0,60844;60844,-119.546959
341,Maastrichtian,NaN,72.1,66.0,61095;61095,-105.080002
342,Campanian,NaN,83.6,72.1,62031;62031,-112.582832
343,Maastrichtian,NaN,72.1,66.0,62838;62838,-107.083000
344,Late Campanian,NaN,83.5,70.6,4205;4205,-111.511902
345,Late Maastrichtian,NaN,70.6,66.0,63480;63480,-104.549721
346,Late Campanian,NaN,83.5,70.6,63500;63500,-111.509819
347,Campanian,NaN,83.6,72.1,4205;4205,-111.616669
348,Late Campanian,NaN,83.5,70.6,46330;46330,-108.016945
349,Lancian,NaN,70.6,66.0,66164;66164,-103.099998
350,Lancian,NaN,70.6,66.0,66164;66164,-103.099998
351,Lancian,NaN,70.6,66.0,66164;66164,-103.488052
352,Early Maastrichtian,NaN,70.6,66.0,66250;66250,-108.095360
353,Early Maastrichtian,NaN,70.6,66.0,66250;66250,-108.066399
354,Maastrichtian,NaN,72.1,66.0,66250;66250,-108.101944

In [25]:
Tyrannosauridae_time = Tyrannosauridae_time.drop_duplicates(keep=False)
Tyrannosauridae_time

,early_interval,late_interval,early_age,late_age,reference_no,lng
0,Late Campanian,NaN,83.5,70.6,13165;13165,-111.528732
1,Late Campanian,NaN,83.5,70.6,4205;4205,-111.549347
2,Late Campanian,NaN,83.5,70.6,4205;4205,-111.564636
3,Late Campanian,NaN,83.5,70.6,4205;4205,-111.525337
4,Late Campanian,NaN,83.5,70.6,17547;17547,-111.601021
5,Maastrichtian,NaN,72.1,66.0,9259;9259,-112.981903
6,Early Maastrichtian,NaN,70.6,66.0,4205;4205,-112.981903
7,Late Campanian,NaN,83.5,70.6,12347;12347,-112.818901
8,Late Campanian,NaN,83.5,70.6,9259;9259,-112.842300
9,Late Campanian,NaN,83.5,70.6,4205;4205,-112.702202
10,Late Campanian,NaN,83.5,70.6,4205;4205,-110.681999
11,Middle Campanian,NaN,83.5,70.6,4205;4205,-111.485008
12,Early Maastrichtian,NaN,70.6,66.0,51906;51906,-112.934799
13,Maastrichtian,NaN,72.1,66.0,4218;4218,-113.028900
14,Maastrichtian,NaN,72.1,66.0,4205;4205,-113.233330
16,Late Campanian,NaN,83.5,70.6,5922;5922,-111.525871
17,Late Campanian,NaN,83.5,70.6,5721;5721,-111.524582
20,Late Santonian,Early Campanian,85.8,70.6,62031;62031,-113.750000
21,Lancian,NaN,70.6,66.0,1987;1987,-107.383331
22,Late Campanian,NaN,83.5,70.6,6989;6989,-110.766670
23,Middle Campanian,NaN,83.5,70.6,7156;7156,-112.966667
26,Lancian,NaN,70.6,66.0,774;774,-104.366669
27,Judithian,NaN,83.5,70.6,2988;2988,-103.516670
28,Lancian,NaN,70.6,66.0,717;717,-104.491669
29,Valanginian,NaN,139.8,132.9,13526;13526,136.633331
30,Late Campanian,NaN,83.5,70.6,9303;9303,-108.226997
31,Campanian,NaN,83.6,72.1,14626;14626,-85.026665
32,Late Campanian,NaN,83.5,70.6,9628;9628,-103.366699
33,Late Campanian,NaN,83.5,70.6,9723;9723,-111.573692
34,Late Campanian,NaN,83.5,70.6,9737;9737,-108.166946
...,...,...,...,...,...,...
320,Maastrichtian,NaN,72.1,66.0,58665;58665,-109.177498
321,Maastrichtian,NaN,72.1,66.0,14794;14794,109.901367
322,Campanian,Maastrichtian,83.6,66.0,34612;34612,100.366669
323,Late Campanian,Early Maastrichtian,83.5,66.0,34612;34612,101.275002
324,Late Campanian,Early Maastrichtian,83.5,66.0,59137;59137,101.275002
325,Lancian,NaN,70.6,66.0,59148;59148,-107.192223
326,Late Campanian,NaN,83.5,70.6,59354;59354,-108.797943
327,Maastrichtian,NaN,72.1,66.0,59136;59136,99.833054
328,Early Campanian,Middle Campanian,83.5,70.6,59512;59512,-111.900002
329,Campanian,Maastrichtian,83.6,66.0,59835;59835,101.045555
331,Campanian,Maastrichtian,83.6,66.0,59835;59835,101.053612
332,Campanian,Maastrichtian,83.6,66.0,10453;10453,101.029724
333,Campanian,Maastrichtian,83.6,66.0,10453;10453,101.041389
334,Campanian,Maastrichtian,83.6,66.0,10453;10453,101.032219
335,Campanian,Maastrichtian,83.6,66.0,10453;10453,101.031387
337,Campanian,Maastrichtian,83.6,66.0,59835;59835,100.455833
338,Campanian,Maastrichtian,83.6,66.0,59835;59835,100.452225
339,Early Campanian,NaN,83.5,70.6,60112;60112,-111.000000
340,Campanian,Maastrichtian,83.6,66.0,60844;60844,-119.546959
341,Maastrichtian,NaN,72.1,66.0,61095;61095,-105.080002
342,Campanian,NaN,83.6,72.1,62031;62031,-112.582832
343,Maastrichtian,NaN,72.1,66.0,62838;62838,-107.083000
344,Late Campanian,NaN,83.5,70.6,4205;4205,-111.511902
345,Late Maastrichtian,NaN,70.6,66.0,63480;63480,-104.549721
346,Late Campanian,NaN,83.5,70.6,63500;63500,-111.509819
348,Late Campanian,NaN,83.5,70.6,46330;46330,-108.016945
351,Lancian,NaN,70.6,66.0,66164;66164,-103.488052
352,Early Maastrichtian,NaN,70.6,66.0,66250;66250,-108.095360
353,Early Maastrichtian,NaN,70.6,66.0,66250;66250,-108.066399
354,Maastrichtian,NaN,72.1,66.0,66250;66250,-108.101944

In [30]:
Dromaeosauridae_time = Dromaeosauridae_time.drop_duplicates(keep=False)
Dromaeosauridae_time

,early_interval,late_interval,early_age,late_age,reference_no,lng
0,Late Maastrichtian,NaN,70.60,66.00,4002;4002,21.049999
1,Late Campanian,NaN,83.50,70.60,5721;5721,-111.524582
2,Late Campanian,NaN,83.50,70.60,63431;63431,103.333336
3,Aptian,NaN,125.00,113.00,7600;7600,-98.476303
10,Early Campanian,NaN,83.50,70.60,4308;4308,-107.199997
11,Middle Campanian,NaN,83.50,70.60,17718;17718,-112.966667
15,Barremian,NaN,129.40,125.00,7471;7471,-109.567902
16,Early Aptian,NaN,125.45,122.46,14740;14740,-109.691666
19,Aptian,NaN,125.00,113.00,7600;7600,-97.907219
20,Lancian,NaN,70.60,66.00,717;717,-104.491669
23,Late Campanian,NaN,83.50,70.60,7840;7840,6.106141
24,Late Campanian,Early Maastrichtian,83.50,66.00,7840;7840,5.565626
25,Late Campanian,NaN,83.50,70.60,9559;9559,-2.634513
26,Middle Berriasian,NaN,145.00,140.20,8336;8336,-1.966667
27,Middle Berriasian,NaN,145.00,140.20,8338;8338,-1.966667
34,Aptian,Albian,125.00,100.50,9233;9233,-108.162003
35,Late Campanian,NaN,83.50,70.60,9628;9628,-103.366699
36,Late Campanian,NaN,83.50,70.60,9737;9737,-108.166946
37,Late Campanian,NaN,83.50,70.60,9765;9765,-108.486115
38,Campanian,NaN,83.60,72.10,9814;9814,-112.182777
39,Early Maastrichtian,NaN,70.60,66.00,17618;17618,1.011000
40,Early Maastrichtian,NaN,70.60,66.00,56091;56091,1.011000
41,Early Maastrichtian,NaN,70.60,66.00,56091;56091,1.266700
44,Late Maastrichtian,NaN,70.60,66.00,56091;56091,1.220000
45,Late Maastrichtian,NaN,70.60,66.00,9837;9837,0.955962
54,Late Aptian,Early Albian,122.46,109.00,41603;41603,143.581940
55,Late Campanian,NaN,83.50,70.60,10378;10378,0.900000
56,Campanian,Maastrichtian,83.60,66.00,10388;10388,31.145000
57,Campanian,Maastrichtian,83.60,66.00,10383;10383,31.145000
59,Kimmeridgian,NaN,157.30,152.10,10386;10386,-8.800000
...,...,...,...,...,...,...
702,Campanian,NaN,83.60,72.10,42291;42291,103.288887
703,Maastrichtian,NaN,72.10,66.00,55060;55060,100.011108
704,Campanian,NaN,83.60,72.10,55298;55298,107.843613
705,Late Maastrichtian,NaN,70.60,66.00,55315;55315,1.772222
706,Late Berriasian,Aptian,145.00,113.00,55500;55500,-3.242159
707,Late Hauterivian,Early Barremian,136.40,125.45,55500;55500,-2.533300
708,Albian,NaN,113.00,100.50,56060;56060,-97.582741
712,Santonian,NaN,86.30,83.60,56214;56214,-85.000763
713,Late Maastrichtian,NaN,70.60,66.00,38063;38063,0.950376
714,Late Campanian,NaN,83.50,70.60,56875;56875,5.612007
715,Late Maastrichtian,NaN,70.60,66.00,56882;56882,-103.207550
716,Middle Campanian,Late Campanian,83.50,70.60,57254;57254,112.114113
717,Kimmeridgian,NaN,157.30,152.10,13281;13281,-108.826668
718,Albian,NaN,113.00,100.50,58656;58656,-108.729599
719,Campanian,NaN,83.60,72.10,59136;59136,99.599998
720,Middle Cenomanian,Early Turonian,99.60,89.30,59904;59904,-68.617775
721,Early Campanian,NaN,83.50,70.60,60112;60112,-111.000000
722,Campanian,NaN,83.60,72.10,10138;10138,101.125427
723,Late Albian,NaN,105.30,99.60,60389;60389,-114.551567
724,Aptian,NaN,125.00,113.00,52405;52405,119.683296
726,Maastrichtian,NaN,72.10,66.00,15004;15004,99.599998
730,Berriasian,Hauterivian,145.00,129.40,62874;62874,-38.316666
731,Early Barremian,NaN,130.00,125.45,63556;63556,-9.222222
732,Campanian,NaN,83.60,72.10,64073;64073,100.901947
733,Late Maastrichtian,NaN,70.60,66.00,65784;65784,23.092192
734,Barremian,Aptian,129.40,113.00,66074;66074,119.683296
735,Lancian,NaN,70.60,66.00,66164;66164,-103.099998
736,Early Maastrichtian,NaN,70.60,66.00,66250;66250,-108.066399
737,Maastrichtian,NaN,72.10,66.00,66250;66250,-108.101944
738,Judithian,NaN,83.50,70.60,66642;66642,-74.300003